*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #FFFFFF;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='338' height='40.6' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%2340E0D0' stroke-width='9.6' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
}

.calculator{
    /* width: 500px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
    
    /* border: 2px solid black; */
    
}
.outerbox{
    /* border: 1px solid red; */
    width: 500px;
}

.calc-screen{
    display: flex;
    /* justify-content: center; */
    margin: 10px 0;
    /* border: 2px solid black; */

}

.calc-screen input{
    height: 50px;
    width:100%;
    padding: 10px;
    border: none;
    /* background-color: rgb(0, 0, 0); */
    background-color: turquoise;
    color: black;
}


.calc-buttons{
    display: flex;
    /* justify-content: center; */
    /* border: 2px solid black; */
    width: 100%;
    /* margin: 10px; */

}

.calc-buttons table{
    width: 100%;
    margin: 10px 0;
    height: 400px;
    background-color:transparent;
    /* box-shadow: -0.996px 0.087px 96.04px 1.96px rgba(0, 0, 0, 0.15); */
}


  

.calc-buttons table th{
    width: 100px;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: turquoise 2px solid;
    /* border-radius: 10px; */
    text-align: center;
    /* background-color: wheat; */
}

.calc-buttons table th:hover{
    border-radius: 30px;
    background-color: #40e0d0;
    transition: 1s;
    
}